.bovenbalk{
    background-color:whitesmoke;
    border-bottom: gray;
    border-bottom-style: inset;
}

.Header { 
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 50px;
    grid-gap: 10px;
    color: #444;
  }
.boxa{
    margin-top: 5px;
}

/*
.boxa{
  border-style: dotted;
  border-color: #444;
}
.boxb{
  border-style: dotted;
  border-color: #444;
}
.boxc{
  border-style: dotted;
  border-color: #444;
}
.boxd{
  border-style: dotted;
  border-color: #444;
}
.boxe{
  border-style: dotted;
  border-color: #444;
}
.boxf{
  border-style: dotted;
  border-color: #444;
}
*/
  


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: -15px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;  
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1px;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .button {
    border-radius: 4px;
    background-color: #f5cb42;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 0px;
    margin-right: 30px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }