html{
  overflow: scroll;
}
.bovenbalk{
    background-color:whitesmoke;
    border-bottom: gray;
    border-bottom-style: inset;
}

.Header { 
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 50px;
    grid-gap: 10px;
    color: #444;
  }
.boxa{
    margin-top: 20px;
}


/*
.boxa{
  border-style: dotted;
  border-color: #444;
}
.boxb{
  border-style: dotted;
  border-color: #444;
}
.boxc{
  border-style: dotted;
  border-color: #444;
}
.boxd{
  border-style: dotted;
  border-color: #444;
}
.boxe{
  border-style: dotted;
  border-color: #444;
}
.boxf{
  border-style: dotted;
  border-color: #444;
}
*/
  


  .button {
    border-radius: 4px;
    background-color: #EAD017;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: -2px;
    margin-right: 20px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);


body {
    font-family: "Lato", sans-serif;
    overflow:hidden;
    transition: background-color .5s;
}



.navigation {
    width: 120px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;

    overflow: hidden;
    
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    background-color: whitesmoke;
    margin-top:30px;
    list-style:none; 
}


.menulist {
    width:200px;
}


.logo {
    text-align:center;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#EAD017;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:#EAD017;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:#EAD017;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:#EAD017;
  top:-7px;
}

.menuitems {
    padding-top:30px;
    margin-left: -20px;
    text-decoration: none;
    list-style:none; 
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;	
    color: black;
    opacity:0.0;
    
   /* */
}
@media only screen and (min-width: 700px){
  .menuitems{
    transition: all .5s ease-in-out;
  }
  .navigation{
    transition: all .4s ease-in-out;
  }
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: black;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;	
    position: absolute;
    text-decoration:none;
    top: 25px;
    left: 45px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;

}

#main {	
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 16px;
    font-size:30px;
}

.Contact{
  background-color: #EAD017;
  padding-top: 50px;
  padding-bottom: 50px;
}


.Contact-form{
  background-color: white;
  border-style: groove;
  padding-top:50px;
  padding-right: 50px;
  padding-left: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -30px;
  margin-bottom: 100px;
  
}

@media only screen and (max-width: 700px){
  .Contact-form{
    margin-left: 0px;
    margin-right: 0px;
  }

}

a {
  color: black;
}
a:visited {
  color: black;
}


#p1{
  margin-bottom: 50px;
}



.p2a{
background-color: #EAD017;
padding-bottom: 100px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-top: solid;
border-top-width: 1px;
border-right: solid;
border-right-width: 1px;
border-left: solid;
border-left-width: 1px;
}

.p2b{
background-color: #EDEDED;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-width: 1px;
margin-top: -10px;
padding-bottom: 100px;
border-bottom: solid;
border-bottom-width: 1px;
border-right: solid;
border-right-width: 1px;
border-left: solid;
border-left-width: 1px;

}



.pricing-table {
  padding-bottom: 30px;
}

.pricing-header {
  position: relative;
  padding: 22px 22px;
  margin-bottom: -140px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.pricing-title {
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}
.pricing-rate {
  font-size: 70px;
  font-weight: 700;
  color: black;
  position: relative;
  text-align: center;
}
.pricing-rate sup {
  font-size: 24px;
  position: relative;
  top: -30px;
  color: black;
}
.pricing-rate span {
  font-size: 16px;
  color: black;
  text-transform: uppercase;
}
.pricing-list {
  padding: 20px 0 40px 0;
  margin-bottom: -140px;
}
.pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
.pricing-list ul li {
  list-style: none;
  border-bottom: 1px dotted gray;
  color: black;
  font-size: 16px;
  line-height: 42px;
}
.pricing-list ul li:last-child {
  border: none;
}

.pricing-list ul li span {
  color: #34495e;
}

.alert-success{
  z-index: 1;
  background: #D4EDDa;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #3AD66E;
  border-radius: 4px;
  display: none;
}

.alert-error{
  z-index: 1;
  background: #FFF3CD;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #FFA502;
  border-radius: 4px;
  display: none;
}